/*Selector ID*/
#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    margin: auto;
}

#cabecera{
    height: 15%;
    background-color: rgb(3, 142, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

#barraDeNavegacion{
    height: 5%;
    background-color: rgb(3, 142, 3);
    border: 2px solid white;
}

#seccion{
    height: 70%;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(3, 142, 3);
    display: block;
    align-items: center;
}

#pieDePagina{
    height: 10%;
    background-color: rgba(253, 3, 3, 0.927);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

/*Selector de Clase*/
.encabezado{
    font-family: Tahoma;
    text-align: center;
    color: white;
}

.barraNavegacion{
    font-family: Tahoma;
    font-size: medium;
    color: white;
}

.pieNavegacion{
    font-family: Tahoma;
    text-align: center;
    color: white;
}

.texto{
    font-family: Tahoma;
    text-align: justify;
}

.articulo{
    margin: auto;
    padding: 10px;
}

/*Selector de etiqueta*/
ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}

img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}